@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');
*{
    font-family: 'Poppins',cursive;
}
body{
    overflow: hidden;
    color: azure;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.greetings {
    font-size: 2rem;
    font-weight: 600;
    text-shadow: 0 0 25px rgba(255, 105, 180, 1); 
  }
  
  
@keyframes glow{
    0%, 100%{
        color: #fff;
        text-shadow: 0 0 12px #39c6d6, 0 0 50px #39c6d6, 0 0 100px #39c6d6;
    }
    10%, 90%{
        color: #111;
        text-shadow: none;
    }
}
.description {
    font-size: 1.1rem;
    margin-bottom: 20px;
    text-align: center; 
}

.button {
    padding: 0.8em 2.2em; 
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px; 
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 12px; 
  }
  
  @keyframes glowing-button {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .button:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 12px; 
  }  

@media screen and (max-width:574px){
    .greetings{
        display: block;
        font-size: 1.8rem;
        font-weight: 600;
        text-align: center;
    }
    .description{
        font-size: 5px;
    }
    
    .button a{
        font-size: 10px;
    }
    .button {
      margin: 5px 4px 6px 5px;
    }
}

.hide-scrollbars {
    overflow: hidden;
  }
  
  .hide-vertical-scrollbar {
    overflow-y: hidden;
  }

  .hide-horizontal-scrollbar {
    overflow-x: hidden;
  }
  